@media screen and (max-width:767px) {
    .modal-menu-container {
            display: none;
    }
    .alt-nav,
    .alt-address{
        display:none;
    }
    
    

    .second-section-list-icon{
        display:none;
    }
    .container {
        width: 100%;
    }
    .second-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .second-header{
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: center;
    }
    .second-text {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 288px; 
        height: 72px;
        opacity: 0px;
    }
    .second-section-text-container{
        margin:72px;
    }

    .third-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .our-portfolio-item{
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
        justify-content: center;
    }

    .footer{
        padding:100px;
    }
    .footer-text-container{
        flex-direction: column;
        align-items: center;
        display: flex;
    }
    .footer-container{
        padding: 96px 16px;
        display: flex;
        display: block;
    }

    .footer-container-logo{
        flex-direction: column;
        align-items: center;
        display: flex;
        margin-right: 0px;
    }

    .footer-alt{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-form{
        display: flex;
        flex-direction: column;
    }
    .footer-form-text{
        text-align: center;
    }

    .footer-container-social{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 72px;
        margin-bottom: 72px;
    }
    .footer-container-social-item{
        text-align: center;
    }

    .footer-form-container{
        display: flex;
        align-items:center;
        flex-direction: column;
    }
















































































}

