@media screen and (min-width:768px) and (max-width:1158px){
.modal-menu-container {
        display: none;
    }
    .alt-address{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .alt-nav,
    .alt-address {
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.04em;
        text-align: left;

    }

    .second-section-list-icon {
        display: none;
    }

    .container {
        width: 100%;
    }

    .second-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .second-header {
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.02em;
        flex-direction: column;
        align-items: center;
    }

    .second-text {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 288px;
        height: 72px;
        opacity: 0px;
        text-align: left;
    }

    .second-section-text-container {

        width:356px;
    }

    .third-item {
        display: flex;
        flex-wrap: wrap;
        width:100%;
    }
    .our-portfolio-item {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
        justify-content: center;
    }

    .footer {
        padding: 0;
    }

    .footer-text-container {
        flex-direction: column;
        display: flex;
    }

    .footer-container {
        padding: 96px 108px;
        display: block;
    }

    .footer-container-logo {
        align-items: center;
        margin-right: 0px;
        display: flex;
        margin-bottom: 72px;
        gap: 24px;
    }

    .footer-alt {
        display: flex;
        align-items: center;
    }

    .footer-form {
        display: flex;
    }

    .footer-form-text {
        text-align:unset;
    }

    .footer-container-social {
        display: flex;
        align-items:baseline;
        flex-direction: column;
        margin:0;
    }

    .footer-container-social-item {
        text-align: left;
    }

    .footer-form-container {
        display: flex;
        flex-direction: column;
    }
}