@media screen and (max-width:767px) {
    .alt-nav,
    .alt-address{
        display:none;
    }
    a{
        font-style: normal;
        text-decoration: none;
    }
    .address{
        margin-left: 0%;
    }
    .hamburger{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        padding: 0 16px;
        margin: 0 auto;
        position: fixed;
        gap: 72px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        display: none;
    }
    .barbtn{
        display: flex;
        margin-left: auto;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
    .hamburger-menu-nav-list{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 70px;
        padding: 0 16px;
        font-style: normal;
    }
    .hamburger-menu-nav{
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #2E2F42;
    }
    .mobile-nav-address-list{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 24px;
        
    }
    .hamburger-adress-list{
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color:#2E2F42 ;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }
    .hamburger-adress-socials{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 24px;
        padding: 0 16px;
        margin-bottom: 72px;
    }
    .hamburger-close-button{
        position: absolute;
        top: 24px;
        right: 24px;
        width: 40px;
        height: 40px;
        background-color: #E7E9FC;
        border: 1px solid #0000001A;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .hamburger-close-button:hover,
    .hamburger-close-button:focus{
        cursor: pointer;
        border: none;
        background-color:#404BBF;
        fill: #fff;
    }
    .hamburger-social-media-alt{
        display: flex;
        justify-content: space-between;
        gap: 16px;
        max-width: 280px;
    }
    .hamburger-social-media-list{
        width: 40px;
        height: 40px;
    }
    .hamburger-social-media-link{
        width: 100%;
        height: 100%;
        background-color: #4D5AE5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .hamburger-social-media-link:hover,
    .hamburger-social-media-link:focus{
        background-color: #31d0aa;
    }
    .second-section-list-icon{
        display:none;
    }
    .container {
        width: 100%;
    }
    .second-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .second-header{
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: center;
    }
    .second-text {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 288px; 
        height: 72px;
        opacity: 0px;
    }
    .second-section-text-container{
        margin:72px;
    }

    .third-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .our-portfolio-item{
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
        justify-content: center;
    }

    .footer{
        padding:100px;
    }
    .footer-text-container{
        flex-direction: column;
        align-items: center;
        display: flex;
    }
    .footer-container{
        padding: 96px 16px;
        display: flex;
        display: block;
    }

    .footer-container-logo{
        flex-direction: column;
        align-items: center;
        display: flex;
        margin-right: 0px;
    }

    .footer-alt{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-form{
        display: flex;
        flex-direction: column;
    }
    .footer-form-text{
        text-align: center;
    }

    .footer-container-social{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 72px;
        margin-bottom: 72px;
    }
    .footer-container-social-item{
        text-align: center;
    }

    .footer-form-container{
        display: flex;
        align-items:center;
        flex-direction: column;
    }
















































































}

